<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <script src="../../js/angular.min-1.0.8.js"></script>
        <link href="../../css/bootstrap.min-3.0.0.css" rel="stylesheet" media="screen">
        <script src="sendtasks.js"></script>
    </head>
    <body>
        <div ng-controller="ListCtrl">
        <h2>{{title}}</h2>
            <input type="text" ng-model="search" class="search-query" placeholder="Search in Sendtasks">
            
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>Send To</th>
                        <th>Reply To</th>
                        <th>Subject</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sendtask in sendtasks | filter:search | orderBy:'to'">
                        <td>{{sendtask.sendTo}}</td>
                        <td>{{sendtask.replyTo}}</td>
                        <td>{{sendtask.subject}}</td>
                        <td>{{sendtask.content}}</td>
                        <td>{{sendtask.status}}</td>
                        <td></td>
                        <!--    <td>
                              <a href="#/edit/{{project.$id}}"><i class="icon-pencil"></i></a>
                            </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
