<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
        <script src="sendtasks.js"></script>
    </head>
    <body>
        <h2>New Send Task</h2>
        <div ng-controller="NewCtrl">

            <strong class="btn-{{answerClass}}"> {{answer}} </strong><br/>

            <form id="formNewSendTask" novalidate class="form-horizontal" role="form">
                <div class="form-group" >
                    <label for="sendTo" class="col-lg-2 control-label">Send To</label>
                    <input id="sendTo" type="text" ng-model="newSendTask.sendTo" placeholder="Send To">
                </div>
                <div class="form-group" >
                    <label for="sendTo" class="col-lg-2 control-label">Reply To</label>
                    <input id="sendTo" type="text" ng-model="newSendTask.replyTo" placeholder="Reply To">
                </div>
                <div class="form-group" >
                    <label for="sendTo" class="col-lg-2 control-label">Subject</label>
                    <input id="sendTo" type="text" ng-model="newSendTask.subject" placeholder="Subject">
                </div>
                <div class="form-group" >
                    <label for="content" class="col-lg-2 control-label">Content</label>
                    <!--<input id="content" type="text" ng-model="newSendTask.content" placeholder="Content">-->
                    <textarea id="content" ng-model="newSendTask.content" placeholder="Content" rows="10" cols="50" ></textarea>
                </div>
                <div class="form-group" >
                    <button ng-click="reset()" class="btn btn-danger">RESET</button>
                    <button ng-click="save()" class="btn btn-success">SAVE</button>
                </div>
            </form>

        </div>
    </body>
</html>
